@charset "utf-8";

@font-face {
    font-family: Makinas-Scrap-5;
    src: url("../assets/Makinas-Scrap-5.otf") format("opentype");
}

html {
    height: 100%;
}

body {
    position        : relative;
    height          : 100%;
    background-color: #f0f0f0;
    width           : 800px;
    padding         : 0;
    margin          : 0 auto;
}

#game-wrapper {
    position  : absolute;
    top       : 50%;
    width     : 800px;
    height    : 450px;
    margin-top: -225px;
    padding   : 0;
}

#game {
    position: absolute;
    top     : 0;
    width   : 800px;
    height  : 450px;    
}

#editor-window {
    display         : none;
    position        : absolute;
    top             : 0;
    background-color: #c0c0c0;
    width           : 800px;
    height          : 450px;
}

#editor {
    width : 800px;
    height: 450px;
}

#page-footer {
    position  : absolute;
    top       : 100%;
    width     : 784px;
    margin    : 8px 0 24px;
    padding   : 8px;
    text-align: center;
}
